.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form {
    display: flex;
    width: 522px;
    gap: 12px;
  }
  
  .visualBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 48px;
    width: 944px;
    column-gap: 16px;
    row-gap: 48px;
  }